header {
    position: fixed;
    // background: $secondaryBlue;
    background: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
    top: 0;
    box-shadow: 1px 1px 5px rgb(100,100,100);
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
        .header-title-container {
            width: 60%;
            transition: all ease-in-out .2s;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                .header-logo-container {
                    margin-right: 10px;
                    height: 70px;
                    img {
                        height: 100%;
                    }
                }
                .header-title {
                    h1 {
                        text-transform: capitalize;
                        font-variant: small-caps;
                        font-size: 36px;
                        font-weight: 700;
                        letter-spacing: -2px;
                        color: $textDark;
                        transition: all ease-in-out .2s;
                    }
                }
                &:hover .header-title h1 {
                    transform: scale(1.1);
                }
            }
        }
        nav {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                    list-style: none;
                    .nav-link {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 14px;
                        color: $textDark;
                        transition: all ease-in-out .1s;
                        &:hover {
                            border-bottom: $primaryRed 3px solid;
                        }
                    }
                }
            }    
        }
        .hire-me-btn-container {
            width: 15%;
            display: flex;
            justify-content: flex-end;
            a {
                text-decoration: none;
                background: $primaryRed;
                padding: 15px 50px;
                border-radius: 30px;
                color: $textLight;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
                transition: all ease-in-out .2s;
                &:hover {
                    opacity: .9;
                    color: $textDark;
                    box-shadow: 2px 2px 5px rgb(140, 140, 140);
                }
            }
        }
    }
}