header {
    position: fixed;
    // background: $secondaryBlue;
    background: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
    top: 0;
    box-shadow: 1px 1px 5px rgb(150,150,150);
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-title-container {
            transition: all ease-in-out .2s;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                .header-logo-container {
                    margin-right: 10px;
                    height: 70px;
                    img {
                        height: 100%;
                    }
                }
                .header-title {
                    h1 {
                        text-transform: capitalize;
                        font-variant: small-caps;
                        font-size: 36px;
                        font-weight: 700;
                        letter-spacing: -2px;
                        color: $textDark;
                        transition: all ease-in-out .2s;
                    }
                }
                &:hover .header-title h1 {
                    transform: scale(1.1);
                }
            }
        }
        .nav-container {
            display: flex;
            align-items: center;
            nav {
                display: flex;
                justify-content: flex-end;
                margin-right: 20px;
                ul {
                    display: flex;
                    justify-content: space-between;
                    li {
                        list-style: none;
                        .nav-link {
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 14px;
                            color: $textDark;
                            margin: 0 20px;
                            transition: all ease-in-out .1s;
                            &:hover {
                                border-bottom: $primaryRed 3px solid;
                            }
                        }
                    }
                }    
            }
            .hire-me-btn-container {
                display: flex;
                justify-content: flex-end;
                a {
                    text-decoration: none;
                    background: $primaryRed;
                    padding: 15px 50px;
                    border-radius: 30px;
                    color: $textLight;
                    font-size: 20px;
                    font-weight: 600;
                    text-transform: uppercase;
                    transition: all ease-in-out .2s;
                    box-shadow: 1px 1px 5px rgb(140, 140, 140);
                    &:hover {
                        background: $secondaryRed;
                        color: $textDark;
                        box-shadow: 3px 3px 5px rgb(100, 100, 100);
                    }
                }
            }
        }
    }
}