.pre-loader-container {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .left-loader, .right-loader {
        width: 50%;
        height: 100vh;
        position: fixed;
        z-index: 9;
    }
    .left-loader {
        left: -50%;
        background: linear-gradient(to right, $secondaryRed, $primaryRed, $primaryRed);
    }
    .right-loader {
        right: -50%;
        background: linear-gradient(to right, $primaryRed, $primaryRed, $secondaryRed);
    }
    .pre-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .loader-logo {
            width: 100%;
            max-width: 700px;
            img {
                width: 100%;
            }
        }
    }
}