$primaryRed: #DD0030;
$secondaryRed: #F79FBA;
$tertiaryRed: #FFD3E8;
$primaryBlue: #0B4F6C;
$secondaryBlue: #A8E0FF;
$textDark: #0e0d0d;
// $textDark: rgba(10,10,10);
$textGray: rgb(60,60,60);
$textLight: #ffffffde;