* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #0e0d0d;
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 30px;
}

/* section styles */
.section {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
.section .section-title {
  text-align: center;
  margin-bottom: 50px;
}
.section .section-title h3 {
  font-size: 20px;
  font-weight: 500;
  color: #F79FBA;
  font-variant: small-caps;
}
.section .section-title h2 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0px;
}

.pre-loader-container {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.pre-loader-container .left-loader, .pre-loader-container .right-loader {
  width: 50%;
  height: 100vh;
  position: fixed;
  z-index: 9;
}
.pre-loader-container .left-loader {
  left: -50%;
  background: linear-gradient(to right, #F79FBA, #DD0030, #DD0030);
}
.pre-loader-container .right-loader {
  right: -50%;
  background: linear-gradient(to right, #DD0030, #DD0030, #F79FBA);
}
.pre-loader-container .pre-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.pre-loader-container .pre-loader .loader-logo {
  width: 100%;
  max-width: 700px;
}
.pre-loader-container .pre-loader .loader-logo img {
  width: 100%;
}

#body {
  overflow-y: hidden;
  overflow-x: hidden !important;
}

header {
  position: fixed;
  background: white;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  top: 0;
  box-shadow: 1px 1px 5px rgb(150, 150, 150);
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container .header-title-container {
  transition: all ease-in-out 0.2s;
}
header .header-container .header-title-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .header-container .header-title-container a .header-logo-container {
  margin-right: 10px;
  height: 70px;
}
header .header-container .header-title-container a .header-logo-container img {
  height: 100%;
}
header .header-container .header-title-container a .header-title h1 {
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #0e0d0d;
  transition: all ease-in-out 0.2s;
}
header .header-container .header-title-container a:hover .header-title h1 {
  transform: scale(1.1);
}
header .header-container .nav-container {
  display: flex;
  align-items: center;
}
header .header-container .nav-container nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
header .header-container .nav-container nav ul {
  display: flex;
  justify-content: space-between;
}
header .header-container .nav-container nav ul li {
  list-style: none;
}
header .header-container .nav-container nav ul li .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #0e0d0d;
  margin: 0 20px;
  transition: all ease-in-out 0.1s;
}
header .header-container .nav-container nav ul li .nav-link:hover {
  border-bottom: #DD0030 3px solid;
}
header .header-container .nav-container .hire-me-btn-container {
  display: flex;
  justify-content: flex-end;
}
header .header-container .nav-container .hire-me-btn-container a {
  text-decoration: none;
  background: #DD0030;
  padding: 15px 50px;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
  box-shadow: 1px 1px 5px rgb(140, 140, 140);
}
header .header-container .nav-container .hire-me-btn-container a:hover {
  background: #F79FBA;
  color: #0e0d0d;
  box-shadow: 3px 3px 5px rgb(100, 100, 100);
}

.home {
  background: linear-gradient(299deg, rgb(11, 79, 108) 0%, rgb(85, 174, 251) 100%);
  height: calc(100vh - 80px);
  max-height: 1000px;
  width: 100%;
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}
.home .home-inner-container {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
.home .home-inner-container .top-left-container {
  width: 60%;
}
.home .home-inner-container .top-left-container .top-content {
  position: relative;
  z-index: 999;
}
.home .home-inner-container .top-left-container .top-content h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}
.home .home-inner-container .top-left-container .top-content h3 {
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
}
.home .home-inner-container .top-left-container .top-content h4 {
  font-size: 24px;
  color: rgb(60, 60, 60);
  margin-bottom: 70px;
  font-weight: 400;
}
.home .home-inner-container .top-left-container .top-content a {
  background: #DD0030;
  padding: 20px 30px;
  text-transform: uppercase;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.8705882353);
  box-shadow: 2px 2px 5px #0e0d0d;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: all ease-in-out 0.2s;
}
.home .home-inner-container .top-left-container .top-content a:hover {
  background: #F79FBA;
  color: #0e0d0d;
  box-shadow: 5px 5px 5px #0e0d0d;
}
.home .home-inner-container .top-left-container .blob-container {
  position: absolute;
  z-index: 2;
  top: -10px;
  left: 70px;
}
.home .home-inner-container .top-left-container .blob-container img {
  height: 700px;
  width: 700px;
  opacity: 0.1;
}
.home .home-inner-container .top-right-container {
  width: 40%;
}
.home .shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.home .shape-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 134px;
}
.home .shape-divider .shape-fill {
  fill: #FFFFFF;
}

.portfolio-container {
  width: 100%;
  margin-bottom: 100px;
}
.portfolio-container .projects-container .projects-row {
  display: flex;
  margin-bottom: 20px;
}
.portfolio-container .projects-container .projects-row .project {
  color: black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  overflow: hidden;
  text-decoration: none;
}
.portfolio-container .projects-container .projects-row .project .project-img-container {
  position: relative;
  overflow: hidden;
}
.portfolio-container .projects-container .projects-row .project .project-img-container img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform ease-in-out 0.3s;
}
.portfolio-container .projects-container .projects-row .project .project-img-container .project-img-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: all ease-in-out 0.3s;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.portfolio-container .projects-container .projects-row .project .project-img-container .project-img-overlay-container p {
  text-transform: uppercase;
  color: #A8E0FF;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
}
.portfolio-container .projects-container .projects-row .project .project-info {
  margin-top: 10px;
}
.portfolio-container .projects-container .projects-row .project .project-info h5 {
  font-size: 18px;
  color: #DD0030;
}
.portfolio-container .projects-container .projects-row .project .project-info h3 {
  font-size: 30px;
}
.portfolio-container .projects-container .projects-row .project .project-info p {
  font-size: 14px;
  color: rgb(60, 60, 60);
}
.portfolio-container .projects-container .projects-row .project .project-info p span {
  color: #0e0d0d;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 700;
}
.portfolio-container .projects-container .projects-row .project:hover img {
  transform: scale(1.05);
}
.portfolio-container .projects-container .projects-row .project:hover .project-img-overlay-container {
  opacity: 1;
}

.about-section {
  background: rgb(245, 245, 245);
  padding-bottom: 120px;
}
.about-section .about-content-container {
  margin-top: 100px;
}
.about-section .about-content-container h3 {
  color: #DD0030;
  font-size: 22px;
}
.about-section .about-content-container .specialization-container {
  display: flex;
  margin: 30px 0 80px 80px;
}
.about-section .about-content-container .specialization-container .special-item {
  margin-right: 50px;
}
.about-section .about-content-container .specialization-container .special-item span {
  font-size: 40px;
  color: #0B4F6C;
}
.about-section .about-content-container .specialization-container .special-item h4 {
  margin: 10px 0 20px 0;
  font-size: 18px;
}
.about-section .about-content-container .specialization-container .special-item p {
  width: 100%;
  max-width: 250px;
  font-size: 16px;
  color: rgb(60, 60, 60);
}
.about-section .about-content-container .skills-container {
  margin: 30px 0 80px 0;
}
.about-section .about-content-container .skills-container .skills-row {
  display: flex;
  margin-bottom: 50px;
}
.about-section .about-content-container .skills-container .skills-row .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
.about-section .about-content-container .skills-container .skills-row .skill .skill-img-container {
  height: 80px;
}
.about-section .about-content-container .skills-container .skills-row .skill .skill-img-container img {
  height: 100%;
}
.about-section .about-content-container .skills-container .skills-row .skill h6 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(60, 60, 60);
  text-transform: uppercase;
}
.about-section .about-content-container .education-container {
  display: flex;
  margin-left: 80px;
  margin-top: 30px;
}
.about-section .about-content-container .education-container .education h4 {
  font-size: 18px;
}
.about-section .about-content-container .education-container .education h5 {
  font-size: 16px;
  font-weight: 500;
}
.about-section .about-content-container .education-container .ucla {
  margin-right: 50px;
}

.cto-section {
  background-image: url("../assets/images/cappuccino-laptop.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cto-section .cto-overlay {
  height: 100%;
  width: 100%;
  padding: 200px 0;
  background: rgba(11, 79, 108, 0.7803921569);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cto-section .cto-overlay h2 {
  font-size: 50px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8705882353);
  margin-bottom: 30px;
}
.cto-section .cto-overlay a {
  text-decoration: none;
  background: #DD0030;
  padding: 15px 50px;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px #0e0d0d;
  transition: all ease-in-out 0.2s;
}
.cto-section .cto-overlay a:hover {
  background: #F79FBA;
  color: #0e0d0d;
  box-shadow: 5px 5px 5px #0e0d0d;
}

.contact-section {
  padding-bottom: 120px;
}
.contact-section .contact-container .contact-content-container {
  display: flex;
  margin-top: 100px;
}
.contact-section .contact-container .contact-content-container .contact-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .contact-container .contact-content-container .contact-left .contact-img-container {
  width: 80%;
}
.contact-section .contact-container .contact-content-container .contact-left .contact-img-container img {
  width: 100%;
}
.contact-section .contact-container .contact-content-container .contact-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .contact-container .contact-content-container .contact-right .form-container {
  width: 60%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background: #0B4F6C;
  box-shadow: 5px 5px 15px #D1D9E6;
}
.contact-section .contact-container .contact-content-container .contact-right .form-container h4 {
  text-align: center;
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 20px;
  margin-bottom: 20px;
}
.contact-section .contact-container .contact-content-container .contact-right .form-container form {
  display: flex;
  flex-direction: column;
}
.contact-section .contact-container .contact-content-container .contact-right .form-container form label {
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8705882353);
  font-size: 18px;
}
.contact-section .contact-container .contact-content-container .contact-right .form-container form input, .contact-section .contact-container .contact-content-container .contact-right .form-container form textarea {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.contact-section .contact-container .contact-content-container .contact-right .form-container form button {
  background: #A8E0FF;
  width: 100%;
  max-width: 200px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
}
.contact-section .contact-container .contact-content-container .contact-right .form-container form button:hover {
  opacity: 0.7;
}

footer {
  display: flex;
  justify-content: center;
}
footer .footer-border {
  width: 80%;
  max-width: 1200px;
}
footer .footer-container {
  border-top: 1px solid rgb(60, 60, 60);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-container .social-icons-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-container .social-icons-footer p {
  margin-right: 10px;
}
footer .footer-container .social-icons-footer a {
  font-size: 35px;
  color: #0B4F6C;
  margin: 0 5px;
}
footer .footer-container .copy-footer p {
  text-align: center;
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */